# built and cached files
venv/
__pycache__/
*.pyc
node_modules/
dist/
build/
.envrc
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# temporary files of editors
.DS_Store
.*.sw?
.~
*.*~
*.bak

# sensitive data not to be commited
docker/.env
docker/secrets/*.txt
.env.local
.env.*.local
src/.env
src/publishers/crypto
!src/publishers/crypto/README.md
*.key
*.log
*.crt
*.asc
*.pub
*.pem
*.p12
local/

# settings of editors
.idea/
.vscode/
.vs/
*.suo
*.ntvs*
*.njsproj
*.pyproj
*.pyproj.user
*.njsproj.user
*.sln
*.sw?
