
repos:
  - repo: https://github.com/psf/black
    rev: 24.4.0
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=142]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      additional_dependencies: [flake8-docstrings]
      args: [--max-line-length=142]
      types: ['python']
      exclude: ^src/core/migrations/versions

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: '.*\.example$'
    - id: trailing-whitespace
