repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint
        files: "^src/presenters/templates/.*\\.(html)$"
        types_or: [html]
        args: ["--ignore=H021"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: '.*\.(example|svg|yml|j2)$'
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: [--fix=lf]
