Flask==3.1.0
Flask-Cors==5.0.1
Flask-RESTful==0.3.10
gevent==25.4.1
gunicorn==23.0.0
marshmallow==3.26.1
oauthlib==3.2.2
PySocks==1.7.1
python-dotenv==1.1.0
requests==2.32.3
schedule==1.2.2
sseclient-py==1.8.0
