Flask==3.0.3
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
gevent==24.10.2
gunicorn==23.0.0
marshmallow==3.22.0
marshmallow-enum==1.5.1
oauthlib==3.2.2
PySocks==1.7.1
python-dotenv==1.0.1
requests==2.32.3
schedule==1.2.2
sseclient-py==1.8.0
