beautifulsoup4==4.13.4  # used in common
Flask==3.1.1
Flask-Cors==6.0.0
Flask-RESTful==0.3.10
gevent==25.5.1
gunicorn==23.0.0
marshmallow==4.0.0
oauthlib==3.2.2
PySocks==1.7.1
python-dotenv==1.1.0
requests==2.32.4
schedule==1.2.2
sseclient-py==1.8.0
