<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
</head>
<body>

    <div>
        <br>
        <table class="table table-borderless">
            <tr class="footer_text footer_color">
                <td class="w30 py-0 text_bold">{{ organizacia }}</td>
                <td class="w40 py-0 text-center info">Mail: {{ email }}</td>
                <td class="w30 py-0 text-right text_bold">{{ utvar }}</td>
            </tr>
            <tr class="footer_text">
                <td class="w30 py-0">{{ ulica }} {{ cislo }}</td>
                <td class="w40 py-0 text-center info">Mobil: {{ tel1 }}</td>
                <td class="w30 py-0 text-right">Naša značka:</td>
            </tr>
            <tr class="footer_text">
                <td class="w30 py-0">{{ psc }} {{ mesto }}</td>
                <td class="w40 py-0 text-center info">Tel: {{ tel2 }}</td>
                <td class="w30 py-0 text-right">{{ znacka }}</td>
            </tr>
        </table>
    </div>

</body>
</html>