beautifulsoup4==4.13.4  # used in common
cvss==3.4
Flask==3.1.1
Flask-Cors==6.0.1
Flask-RESTful==0.3.10
gevent==25.5.1
gunicorn==23.0.0
Jinja2==3.1.6
marshmallow==4.0.0
python-dotenv==1.1.0
weasyprint==65.1
