beautifulsoup4==4.12.3
bleach==6.1.0
dateparser==1.2.0
feedparser==6.0.11
Flask==3.0.3
Flask-Cors==4.0.1
Flask-RESTful==0.3.10
gevent==24.2.1
gunicorn==23.0.0
marshmallow==3.21.3
marshmallow-enum==1.5.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
schedule==1.2.2
selenium==4.23.1
slackclient==2.9.4
tweepy==4.14.0
