beautifulsoup4==4.13.4
dateparser==1.2.2
feedparser==6.0.11
Flask==3.1.1
Flask-Cors==6.0.1
Flask-RESTful==0.3.10
gevent==25.5.1
gunicorn==23.0.0
marshmallow==4.0.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
requests==2.32.5
schedule==1.2.2
selenium==4.35.0
slackclient==2.9.4
tweepy==4.16.0
