// Global
.v-application {
  background-color: #f3f3f3 !important;
}

a {
  text-decoration: none !important;
}

.v-application .v-card.elevation-4 {
  -webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.15) !important;
}

.v-list--dense .v-list-item {
  min-height: 20px;
}

.v-list--dense .v-list-item .v-list-item__title {
  font-weight: 400 !important;
  color: $dark-grey;
}

.v-btn {
  letter-spacing: normal;
}

// Menu

.main-menu-bar {
  height: $app-bar-height;
}

.v-btn span.main-menu-item {
  font-weight: 400;
  letter-spacing: normal;
}

.v-btn.v-btn--active span.main-menu-item {
  color: $primary;
  font-weight: 500;
}

.main-menu-bar .v-toolbar__content {
  justify-content: end;
  padding-right: 0px;
  padding-left: 0px;
}

.main-logo {
  display: flex;
  background-color: #d6d6d6;
  width: calc(300px - #{$app-bar-height});
  height: $app-bar-height;
  justify-content: center;
  align-content: center;

  & svg {
    align-self: center;
    fill: white;
  }
}

.v-application .v-btn.burger-menu {
  min-width: $app-bar-height  !important;
  width: $app-bar-height  !important;
  height: $app-bar-height  !important;
  display: block;
}

// Sidebar

.v-application .sidebar {
  h4 {
    font-weight: 500;
    color: $dark-grey;
    font-size: 1rem;
  }

  input {
    color: $dark-grey  !important;
  }
}

.v-icon.v-icon.closed {
  transform: scaleX(-1);
}

.selected .v-icon.v-icon.desc {
  transform: rotate(-180deg);
}

.v-list .v-icon.filter-icon {
  color: $light-grey-1  !important;

  & svg {
    fill: $light-grey-1  !important;
  }
}

.v-list .v-list-item--active.selected .v-icon.filter-icon {
  color: $primary  !important;

  & svg {
    fill: $primary  !important;
  }
}

.v-list--dense .v-list-item.extra-dense {
  min-height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.v-list--dense .v-list-item.extra-dense .v-list-item__icon,
.v-list-item--dense.extra-dense .v-list-item__icon {
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.v-list--dense .v-list-item.extra-dense .v-list-item__action {
  margin: 0px 0px 0px 0px;
}

.filter-list .selected::before,
.filter-list .v-list-item::before {
  background: none;
}

.text-field-active fieldset {
  border: 2px solid $primary  !important;
}

.v-select__selections {
  overflow-x: hidden;
  overflow-y: hidden;
  flex-wrap: nowrap !important;
}

.v-select--is-menu-active .v-select__selections {
  flex-wrap: wrap !important;
}

.v-select__selections .v-chip {
  overflow: initial;
  flex-shrink: 0;
  background-color: $light-grey-1;
}

// Topic Cards

.fab-pin {
  width: 28px !important;
  height: 28px !important;

  &.pinned {
    background-color: $primary;
    border-color: $primary;
    fill: white;
  }
}

.v-btn.btn-view-topic {
  background-color: white;
  letter-spacing: normal;
  font-weight: 400;
  caret-color: $light-grey-2;
  border-color: $light-grey-2;
  color: $dark-grey  !important;
  padding: 16px 12px !important;

  & svg {
    fill: $dark-grey;
  }
}

.v-chip.topic-label {
  font-size: 12px !important;
  padding: 12px 8px !important;
}

.v-application .v-card .last-activity {
  font-size: 0.65rem !important;
}

.v-application .v-card h2.headline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  height: calc(2rem * 2);
}

.v-application .v-card p.topic-excerpt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  height: calc(1.5em * 4);
}

// .v-application .v-card.pinned-topic {
//   border: 3px solid $primary;
//   padding: 18px !important;
// }

.v-application .v-card {
  transition: all 0.4s;
  border: 3px solid white;
  background-color: white;
  padding: 8px 18px !important;
}

.v-application .v-card.selected {
  border: 3px solid $primary;
  background-color: $topic-selected-bg;
  padding: 18px !important;

  & .news-item-action-bar {
    background-color: lighten($primary, 28);

    & .news-item-action.v-size--default .v-icon svg {
      fill: lighten($dark-grey, 30);
    }

    & .news-item-action.active.v-size--default .v-icon svg {
      fill: $primary;
    }
  }
}

.v-application .v-card--link:before {
  background: none;
}

.status-bar {
  position: absolute;
  height: 100%;
  width: 12px;
  top: 0px;
  left: 0px;
  display: block;
}

// Tags

.v-application .tag-mini {
  min-width: 0px !important;
  font-weight: 700 !important;
  background-color: $accent  !important;
  color: white;
}

// Form fields

.v-application input,
.v-application input::placeholder,
.v-application .v-label {
  font-size: 0.875rem;
  color: $light-grey-2  !important;
  font-weight: 400;
}

.v-application .v-input__icon svg {
  fill: $dark-grey  !important;
}

.v-application .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)>.v-input__control>.v-input__slot fieldset {
  border-color: $light-grey-2;
}

.topics-grid-container {
  position: relative;
}

.topics-grid-container>div {
  min-width: 300px;
}

.topics-grid-move {
  transition: all 0.4s ease;
}

.topics-grid-enter {
  opacity: 0;
}

.topics-grid-enter-to {
  opacity: 1;
}

.topics-grid-enter-active {
  transition: all 0.4s ease;
}

.topics-grid-leave {
  opacity: 1;
  z-index: -1;
}

.topics-grid-leave-to {
  opacity: 0;
  z-index: -1;
}

.topics-grid-leave-active {
  transition: all 0.4s ease;
  position: absolute;
  z-index: 0;
}

.date-filter-group,
.date-filter-group .v-slide-group__wrapper,
.date-filter-group .v-slide-group__content {
  width: 100%;
}

.date-filter-group .v-slide-group__content {
  justify-content: space-between;
  column-gap: 10px;
}

.v-application .sidebar .filter-btn,
.date-filter-group .v-slide-group__content .v-chip,
.tags-logic-operator .v-btn {
  min-width: 10px !important;
  letter-spacing: normal;
  font-weight: 400;
  caret-color: $light-grey-2;
  border-color: $light-grey-2;
  color: $dark-grey  !important;
  flex-grow: 1 !important;
  padding: 19px 10px;
  margin: 0;
  justify-content: center;

  &.clicked,
  &.selected,
  &.v-chip--outlined.selected {
    background-color: $primary  !important;
    border-color: $primary;
    fill: white;

    & span {
      color: white;
    }
  }
}

.tags-logic-operator .v-btn.v-btn--outlined {
  height: 100%;
  font-size: 14px;
}

// Datepicker
.v-menu__content.theme--light.v-menu__content--fixed.menuable__content__active,
.v-picker__body.v-picker__body--no-title.theme--light {
  & .v-btn--rounded {
    border-radius: 2px;
    display: block;
    width: 100%;
  }

  & .v-picker__actions .v-btn__content {
    letter-spacing: normal;
  }
}

.v-application .v-label {
  color: $dark-grey  !important;
  font-size: 14px;
}

.v-list--dense .v-list-item .v-list-item__title {
  font-size: 0.9rem;
}

.v-list--dense .v-list-item .v-list-item__action {
  margin: 6px 16px 4px 0;
}

.v-list--dense .v-list-item .v-list-item__action .v-icon {
  font-size: 18px;
}

.v-input--checkbox .v-icon {
  font-size: 18px;
  margin-left: -4px;
}

.v-application .v-card h2.headline.news-item-headline {
  font-size: 1.4rem !important;
  font-weight: 600 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  height: calc(1.5em * 1);
}

.news-item-excerpt {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  height: calc(1.5em * 4);
}

.news-item-meta-infos.row {
  margin-top: 0px;

  & .col {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &>div {
    font-size: 0.78rem;
  }

  & .news-item-meta-infos-label {
    min-width: 85px;
    max-width: 85px;
  }

  a.meta-link {
    & .icon {
      color: $primary;
      text-decoration: none !important;
    }

    & .label {
      color: $primary;
      text-decoration: none !important;
      text-transform: lowercase;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      height: calc(1.5em * 1);
    }
  }
}

.v-application .v-card.newsItem {
  padding: 0px 36px 0px 18px !important;
}

.news-item-action-bar {
  position: absolute;
  height: 100%;
  width: 36px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
}

.news-item-action-bar .v-btn--icon.v-size--default .v-icon,
.news-item-action-bar .v-btn--icon.v-size--default .v-icon svg {
  font-size: 18px;
  width: 36px;
  height: 36px;
  fill: $light-grey-2;
}

.news-item-action-bar .v-btn--icon.active .v-icon svg {
  fill: $primary;
}

.decorateSource {
  color: $awake-green-color;

  & svg {
    fill: $awake-green-color;
  }
}

.news-item-action-bar .v-btn--icon.news-item-topic-action,
.news-item-action-bar .v-btn--icon.news-item-topic-action .v-icon svg {
  background-color: #e8e4aa;
  fill: $dark-grey;
}

.v-btn.topic-header-btn,
.v-btn.news-item-btn {
  background-color: white;
  letter-spacing: normal;
  font-weight: 400;
  caret-color: $light-grey-2;
  border-color: $light-grey-2;
  color: $dark-grey  !important;
  padding: 14px 12px !important;
  height: 32px;

  & svg {
    fill: $dark-grey;
  }
}

// .v-btn.topic-header-btn {
//   caret-color: white;
//   border-color: white;
// }

.status-unread.status-important,
.status-important {
  background-color: $status-important  !important;
}

.status-important.status-error,
.status-unread.status-error,
.status-error {
  background-color: $status-error  !important;
}

.status-unread {
  background-color: $status-unread;
}

.status-hot {
  background-color: $status-important;
}

.justify-content-center {
  justify-content: center;
}

.selection-toolbar {
  & .v-toolbar__content {
    height: auto !important;
  }

  & .selection-indicator {
    font-size: 0.875rem;
  }

  & .selection-toolbar-btn {
    & svg {
      fill: white;
    }
  }
}

.item-count {
  text-align: right;

  & span {
    font-size: 0.875rem;
    color: lighten($dark-grey, 30);
  }
}

.topic-header-container {
  background-color: #e8e4aa;

  & .card-alignment {
    padding-left: 20px !important;
  }

  & .card-padding {
    padding-right: 36px !important;
    padding-left: 18px !important;
  }

  & h1 {
    color: $dark-grey;
    font-weight: 700;
  }

  .topic-excerpt {
    font-size: 13px;
    margin-bottom: 0px;
    color: $dark-grey;
  }

  & .topic-header-meta-infos.row {
    margin-top: 0px;

    & .col {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    &>div {
      font-size: 0.78rem;
    }

    & .topic-header-meta-infos-label {
      min-width: 120px;
      max-width: 120px;
    }

    a.meta-link {
      & .icon {
        color: $primary;
        text-decoration: none !important;
      }

      & .label {
        color: $primary;
        text-decoration: none !important;
        text-transform: lowercase;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        height: calc(1.5em * 1);
      }
    }
  }
}