@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

$body-font-family: 'Rubik', sans-serif !default;
$heading-font-family: 'Montserrat', sans-serif !default;

$font-size-root: 14px;
$btn-letter-spacing: 0;
$btn-font-weight: 400;

$app-bar-height: 48px;

$grid-breakpoints: (
    'xs': 0,
    'sm': 600px - 16px,
    'md': 976px - 16px,
    'lg': 1280px - 16px,
    'xl': 2200px - 16px
);

// Colors:

$primary: #7468E8;
$secondary: #34a5e8;
$accent: #6DAED9;
$info: #2196F3;
$error: #FF5252;
$success: #4CAF50;
$warning: #FFC107;
$cx-app-header: #E6E6E6;
$cx-toolbar-filter: #ffffff;
$cx-combo-gray: #f2f2f2;
$cx-user-menu: #d9d9d9;
$cx-drawer-bg: #ffffff;
$cx-drawer-text: #000000;
$cx-drawer-text-invert: #000;
$cx-line: #fafafa;
$cx-favorites: #ff9d48;
$cx-filter: #9f02ff;
$cx-wordlist: #FFC107;

$light-grey-1: #C9C9C9;
$light-grey-2: #C8C8C8;
$dark-grey: #575757;

$topic-selected-bg: #F4F3FB;
$topic-hot: #DBE868;
$topic-header-bg: #edeac2;
$awake-green-color: #77BB70;
$awake-red-color: #D18E8E;

$status-important: #DBE868;
$status-unread: #7468E8;
$status-error: #D18E8E;