@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;700;900&display=swap');

$body-font-family: 'Rubik', sans-serif !default;

$title-font: 'Montserrat', sans-serif !default;

$font-size-root: 14px;
$btn-letter-spacing: 0;
$btn-font-weight: 400;

$app-bar-height: 48px;
