{
    "semi": false,
    "singleQuote": true,
    "printWidth": 142,
    "trailingComma": "none",
    "arrowParens": "always",
    "endOfLine": "lf",
    "tabWidth": 4,
    "useTabs": false,
    "vueIndentScriptAndStyle": true,
    "htmlWhitespaceSensitivity": "ignore"
}
