*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img {
    vertical-align: middle;
    border-style: none;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

table {
    border-collapse: collapse;
}

th {
    text-align: inherit;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.align-middle {
    vertical-align: middle !important;
}

.checkbox-button__control {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
    background-color: inherit;
    border: 1px solid #256ec2;
}

.checkbox-button__input {
    opacity: 0;
    position: absolute;
}

.checkbox-button__input:checked+.checkbox-button__control {
    border-color: #256ec2;
}

.checkbox-button__input:checked+.checkbox-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: black;
}

.crlf {
    white-space: pre-line;
}

.cvss {
    color: red;
    font-weight: 700;
}

.footer_text {
    font-size: 14px;
}

.header_info {
    font-size: 12px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.py-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.sw_title {
    font-size: 20px;
    font-weight: 700;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
}

.table-borderless td {
    border: 0;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.text-right {
    text-align: right !important;
}

.text_bold {
    font-weight: 700;
}

.text_in_tab {
    font-size: 14px;
}

.th_data {
    font-size: 12px;
    font-weight: 700;
}

.w15 { width: 15%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 30%; }
.w40 { width: 40%; }

@media print {
    @page {
        size: a3;
    }

    *, *::before, *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    body {
        min-width: 992px !important;
    }

    tr, img {
        page-break-inside: avoid;
    }

    .table {
        border-collapse: collapse !important;
    }

    .table td, .table th {
        background-color: #fff !important;
    }

    .table-bordered th, .table-bordered td {
        border: 1px solid #dee2e6 !important;
    }
}
