alembic==1.10.2
certifi==2019.11.28
Flask==1.1.4
Flask-Cors==4.0.1
Flask-JWT-Extended==3.25.1
Flask-Migrate==2.5.2
flask-oidc==1.4.0
Flask-RESTful==0.3.10
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
gevent==21.8.0
greenlet==1.1.1
gunicorn==20.0.4
idna==2.9
Jinja2==2.11.3
ldap3==2.9.1
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==3.23.0
psycogreen==1.0.2
psycopg2-binary==2.9.6
PyJWT==1.7.1
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
python-keycloak==0.23.0
pytz==2019.3
requests==2.26.0
schedule==0.6.0
six==1.13.0
sseclient-py==1.7
soupsieve==1.9.5
SQLAlchemy==1.4.52
urllib3==1.26.7
Werkzeug==1.0.1
pycryptodomex==3.17
