alembic==1.15.2
beautifulsoup4==4.13.4
Flask==3.1.1
Flask-Cors==6.0.0
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.1.0
flask-oidc==2.3.1
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
gevent==25.5.1
gunicorn==23.0.0
Jinja2==3.1.6
git+https://github.com/cannatag/ldap3.git@refs/pull/983/head
marshmallow==4.0.0
psycopg[binary]==3.2.9
pycryptodomex==3.23.0
PyJWT==2.10.1
python-dotenv==1.1.0
python-keycloak==5.5.0
requests==2.32.3
schedule==1.2.2
sseclient-py==1.8.0
SQLAlchemy==2.0.41
tqdm==4.67.1
Werkzeug==3.1.3
