name: Build - Shared

on:
  push:
    paths:
    - 'src/shared/**'

permissions:
  packages: write
  contents: write

jobs:
  build_wheel:
    name: build wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Setup UV venv
        working-directory: src/shared
        run: uv venv

      - name: Build
        working-directory: src/shared
        run: |
          uv pip install --upgrade build
          uv build

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            src/shared/dist/taranis_ng_shared-*.whl
            src/shared/dist/taranis_ng_shared-*.tar.gz
