name: Linting

on:
  workflow_dispatch:
  pull_request:

jobs:
  lint:
    name: Code linting and formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.13']
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install djlint
        run: pip install djlint
      - name: Run djlint lint
        run: djlint . --lint
      - name: ruff-action
        uses: astral-sh/ruff-action@v3.5.1
        with:
          version: "latest"
          args: "format --check --diff"
